/* --GENERAL-- */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
* {
  box-sizing: border-box; }

body {
  background: #F7F7F7;
  max-width: 1600px;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding: 0; }

h2, h3, h4 {
  text-transform: uppercase; }

h2 {
  font-size: 30px;
  margin-bottom: 0; }

.h2_black {
  color: #000; }

.h2_white {
  color: #FFF; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 14px;
  color: #AEAEAE;
  margin-top: 6px; }

p {
  font-weight: 300; }

section {
  padding: 2.5% 0 0; }

.container {
  margin: 0 auto;
  width: 80%;
  text-align: center; }

[class^="button_"] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  padding: 14px 45px;
  border: none;
  cursor: pointer;
  border-radius: 17px;
  outline: 0; }

.button_brown {
  background: #B88B58;
  color: #FFF; }
  .button_brown:hover {
    background: #000; }

.pagination {
  margin: 0 auto 1.5%; }
  .pagination span {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #B88B58;
    border-radius: 50%;
    margin: 4px;
    cursor: pointer; }
    .pagination span:hover {
      background: #B88B58; }

[class^="col-"] {
  float: left;
  min-height: 1px; }

.col-left {
  text-align: left; }

/* --GRID-- */
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

/* --CLEARFIX-- */
.row::before,
.row::after {
  content: "";
  display: table;
  clear: both; }

/* --NAV-- */
nav {
  background: #000; }
  nav img {
    margin: 0;
    padding: 20px 0; }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 85%;
    display: inline-block;
    float: right; }
    nav ul li {
      display: inline-block;
      float: left;
      padding: 35px 1%; }
      nav ul li:hover {
        border-bottom: 5px solid #B88B58; }
      nav ul li a {
        color: #FFF;
        text-decoration: none;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase; }

/* --HEADER-- */
header {
  text-transform: uppercase;
  background: url("../images/header_background.jpg") center 0/cover;
  text-align: center;
  padding: 1%;
  position: relative; }
  header h1 {
    padding: 13% 0 0;
    margin: 0;
    font-size: 72px;
    letter-spacing: -1px;
    color: #FFF; }
    header h1 span {
      color: #B88B58; }
  header p {
    font-size: 24px;
    font-weight: 700;
    color: #FFF;
    padding: 0.5% 0 2%;
    margin: 0; }
  header .button_brown {
    margin: 1% 0 10%; }
  header .btn_icon {
    position: absolute;
    bottom: -30px;
    right: 5%;
    cursor: pointer;
    width: 60px;
    height: 60px;
    outline: 0;
    border: none;
    border-radius: 50%;
    background: #B88B58;
    color: #FFF;
    font-size: 40px;
    box-shadow: 0 0 10px #242424; }

/* --ABOUT US-- */
.about_us {
  padding-bottom: 6.5%; }
  .about_us .row {
    margin-top: 3.5%; }
    .about_us .row .col-left {
      padding-right: 4%; }
      .about_us .row .col-left p {
        color: #242424;
        font-size: 13px;
        margin: 0;
        padding-bottom: 5%;
        line-height: 1.7; }
    .about_us .row img {
      box-shadow: 0 15px 30px #AEAEAE;
      width: 100%; }

/* --SERVICES-- */
.services {
  background: #000;
  padding-bottom: 3%; }
  .services .row {
    margin-top: 4%; }
    .services .row i {
      color: #B88B58;
      font-size: 65px;
      padding-bottom: 10px; }
    .services .row h3 {
      color: #FFF;
      margin-bottom: 0;
      line-height: 1.4; }
    .services .row p {
      color: #7E7E7E;
      font-size: 12px;
      margin-top: 0;
      line-height: 1.7; }
    .services .row [class^="col-"] {
      border-right: 1px solid #7E7E7E;
      padding: 2% 4%;
      height: 210px; }
      .services .row [class^="col-"]:first-child {
        border-left: 1px solid #7E7E7E; }

/* --OUR PROJECTS-- */

/*# sourceMappingURL=style.css.map */
