/* --GENERAL-- */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
* {
  box-sizing: border-box; }

body {
  background: #F7F7F7;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; }

nav, header, section, footer {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto; }

h1, h2, h3, h4, h6 {
  text-transform: uppercase; }

h2 {
  font-size: 30px;
  margin-top: 2%;
  margin-bottom: 0; }

.h2_black {
  color: #000; }

.h2_white {
  color: #FFF; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 14px;
  color: #AEAEAE;
  margin-top: 6px; }

h6 {
  font-size: 10px;
  color: #AEAEAE; }

p {
  font-weight: 300; }

a {
  text-decoration: none;
  text-transform: uppercase; }

ul {
  list-style: none; }

section {
  padding: 2.5% 0 0; }

.container {
  margin: 0 auto;
  width: 80%;
  text-align: center; }

input, .contact_us .contact_form form textarea {
  border: none;
  border-bottom: 2px solid #9E9E9E;
  background: inherit;
  padding: 12px 0;
  font-family: 'Montserrat', sans-serif; }
  input::placeholder, .contact_us .contact_form form textarea::placeholder {
    font-size: 13px; }
  input:focus, .contact_us .contact_form form textarea:focus {
    border: none;
    border-bottom: 2px solid #000;
    outline: 0; }

[class^="button_"] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  padding: 14px 45px;
  border: none;
  cursor: pointer;
  border-radius: 17px;
  outline: 0;
  transition: .2s; }

.button_brown {
  background: #B88B58;
  color: #FFF; }
  .button_brown:hover {
    background: #000; }

.button_grey {
  background: #373737;
  color: #FFF; }
  .button_grey:hover {
    background: #B88B58; }

.btn_icon {
  position: absolute;
  bottom: -30px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  outline: 0;
  border: none;
  border-radius: 50%;
  background: #B88B58;
  color: #FFF;
  font-size: 40px;
  box-shadow: 0 0 10px #242424; }

.fa_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  font-size: 15px;
  color: #FFF;
  transition: .5s; }

.pagination {
  margin: 0 auto 1.5%; }
  .pagination span {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #B88B58;
    border-radius: 50%;
    margin: 4px;
    cursor: pointer;
    transition: .2s; }
    .pagination span:hover {
      background: #B88B58; }

[class^="col-"] {
  float: left;
  min-height: 1px; }

.col-left {
  text-align: left; }

@media (max-width: 992px) {
  .col-center {
    text-align: center; } }
/* --GRID-- */
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

@media (max-width: 1100px) {
  .col-l-6 {
    width: 50%; }

  .col-l-12 {
    width: 100%; } }
@media (max-width: 992px) {
  .col-m-6 {
    width: 50%; }

  .col-m-12 {
    width: 100%; } }
@media (max-width: 800px) {
  .col-s-12 {
    width: 100%; } }
@media (max-width: 500px) {
  .col-xs-12 {
    width: 100%; } }
/* --CLEARFIX-- */
.row::before,
.row::after {
  content: "";
  display: table;
  clear: both; }

/* --NAV-- */
nav {
  background: #000;
  position: relative; }
  nav img {
    margin: 0;
    padding: 20px 0; }
  nav input, nav .contact_us .contact_form form textarea, .contact_us .contact_form form nav textarea, nav label {
    display: none; }
  @media (max-width: 1299px) {
    nav label {
      position: fixed;
      display: block;
      top: 20px;
      right: 20px;
      height: 50px;
      width: 50px;
      background: #373737;
      border-radius: 50%;
      box-shadow: 0 0 10px #B88B58;
      z-index: 4; }
      nav label span {
        position: absolute;
        width: 60%;
        height: 2px;
        top: 50%;
        left: 20%;
        background: #FFF;
        display: block;
        transition: .5s; }
      nav label span:first-child {
        top: 15px; }
      nav label span:last-child {
        top: 35px; }
    nav label:hover {
      cursor: pointer; }
    nav input:checked + label span, nav .contact_us .contact_form form textarea:checked + label span, .contact_us .contact_form form nav textarea:checked + label span {
      opacity: 0;
      top: 50%; }
    nav input:checked + label span:first-child, nav .contact_us .contact_form form textarea:checked + label span:first-child, .contact_us .contact_form form nav textarea:checked + label span:first-child {
      opacity: 1;
      transform: rotate(45deg); }
    nav input:checked + label span:last-child, nav .contact_us .contact_form form textarea:checked + label span:last-child, .contact_us .contact_form form nav textarea:checked + label span:last-child {
      opacity: 1;
      transform: rotate(-45deg); } }
  nav input ~ ul, nav .contact_us .contact_form form textarea ~ ul, .contact_us .contact_form form nav textarea ~ ul {
    width: 85%;
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0; }
    @media (max-width: 1299px) {
      nav input ~ ul, nav .contact_us .contact_form form textarea ~ ul, .contact_us .contact_form form nav textarea ~ ul {
        display: none;
        transition: 2s;
        background: #000;
        opacity: 0.7;
        position: fixed;
        top: 0;
        left: 0;
        width: 200px;
        z-index: 3; } }
    @media (max-width: 270px) {
      nav input ~ ul, nav .contact_us .contact_form form textarea ~ ul, .contact_us .contact_form form nav textarea ~ ul {
        width: 150px; } }
    nav input ~ ul li, nav .contact_us .contact_form form textarea ~ ul li, .contact_us .contact_form form nav textarea ~ ul li {
      display: inline-block;
      float: left;
      padding: 35px 1%; }
      @media (max-width: 1299px) {
        nav input ~ ul li, nav .contact_us .contact_form form textarea ~ ul li, .contact_us .contact_form form nav textarea ~ ul li {
          display: none;
          float: none;
          padding: 15px; } }
      nav input ~ ul li:hover, nav .contact_us .contact_form form textarea ~ ul li:hover, .contact_us .contact_form form nav textarea ~ ul li:hover {
        border-bottom: 5px solid #B88B58; }
        @media (max-width: 1299px) {
          nav input ~ ul li:hover, nav .contact_us .contact_form form textarea ~ ul li:hover, .contact_us .contact_form form nav textarea ~ ul li:hover {
            border-bottom: none;
            background: #373737; } }
      nav input ~ ul li a, nav .contact_us .contact_form form textarea ~ ul li a, .contact_us .contact_form form nav textarea ~ ul li a {
        color: #FFF;
        font-size: 13px;
        font-weight: 700; }
  nav input:checked ~ ul, nav .contact_us .contact_form form textarea:checked ~ ul, .contact_us .contact_form form nav textarea:checked ~ ul {
    display: block; }
    nav input:checked ~ ul li, nav .contact_us .contact_form form textarea:checked ~ ul li, .contact_us .contact_form form nav textarea:checked ~ ul li {
      display: block; }

/* --HEADER-- */
header {
  background: url("../images/header_background.jpg") center 0/cover;
  text-align: center;
  padding: 1%;
  position: relative; }
  header h1 {
    padding: 13% 0 0;
    margin: 0;
    font-size: 72px;
    letter-spacing: -1px;
    color: #FFF; }
    @media (max-width: 992px) {
      header h1 {
        font-size: 60px; } }
    @media (max-width: 800px) {
      header h1 {
        font-size: 42px; } }
    @media (max-width: 500px) {
      header h1 {
        font-size: 30px; } }
    @media (max-width: 320px) {
      header h1 {
        font-size: 20px; } }
    header h1 span {
      color: #B88B58; }
  header .p_header {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFF;
    padding: 0.5% 0 2%;
    margin: 0; }
    @media (max-width: 320px) {
      header .p_header {
        font-size: 14px; } }
  header .button_brown {
    margin: 1% 0 10%; }
  header .btn_icon {
    right: 10%; }
    @media (max-width: 992px) {
      header .btn_icon {
        left: 5%; } }
  header .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 25vh;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background: rgba(0, 0, 0, 0.6); }
    header .modal .modal_content {
      width: 25.5%;
      margin: 0 auto;
      padding: 1% 0;
      background: #FFF;
      border-radius: 3px; }
      @media (max-width: 992px) {
        header .modal .modal_content {
          width: 35%; } }
      @media (max-width: 700px) {
        header .modal .modal_content {
          width: 50%; } }
      @media (max-width: 450px) {
        header .modal .modal_content {
          width: 75%; } }
      header .modal .modal_content .input_modal {
        display: block;
        padding: 12px 8%;
        margin: 10% auto 0; }
        @media (max-width: 450px) {
          header .modal .modal_content .input_modal {
            padding: 12px 0; } }
      header .modal .modal_content .button_brown {
        display: block;
        margin: 14% auto 17%; }
    header .modal .modal_done {
      display: none;
      text-align: center;
      width: 40%;
      padding: 3% 0;
      background: #FFF;
      border-radius: 3px;
      box-shadow: 0 0 10px #AEAEAE;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      @media (max-width: 992px) {
        header .modal .modal_done {
          width: 50%; } }
      @media (max-width: 700px) {
        header .modal .modal_done {
          width: 65%; } }
      @media (max-width: 450px) {
        header .modal .modal_done {
          width: 90%; } }
      header .modal .modal_done h4 {
        font-size: 20px; }
      header .modal .modal_done .p_modal {
        font-size: 14px;
        color: #AEAEAE;
        font-weight: 400; }
      header .modal .modal_done .back {
        font-size: 14px;
        text-decoration: underline; }

/* --ABOUT US-- */
.about_us {
  padding-bottom: 6.5%; }
  .about_us .row {
    margin-top: 3.5%; }
    .about_us .row .col-left {
      padding-right: 4%; }
      .about_us .row .col-left p {
        color: #242424;
        font-size: 13px;
        margin: 0;
        padding-bottom: 5%;
        line-height: 1.7; }
    @media (max-width: 992px) {
      .about_us .row .button_brown {
        margin-bottom: 5%; } }
    .about_us .row video {
      display: none;
      box-shadow: 0 15px 30px #AEAEAE; }
    .about_us .row img {
      box-shadow: 0 15px 30px #AEAEAE;
      width: 100%;
      cursor: pointer; }

/* --SERVICES-- */
.services {
  background: #000;
  padding-bottom: 3%; }
  .services .row {
    margin-top: 4%; }
    .services .row i {
      color: #B88B58;
      font-size: 65px;
      padding-bottom: 10px; }
      @media (max-width: 500px) {
        .services .row i {
          margin-top: 0; } }
    .services .row h3 {
      color: #FFF;
      margin-bottom: 0;
      line-height: 1.4; }
    .services .row p {
      color: #7E7E7E;
      font-size: 12px;
      margin-top: 0;
      line-height: 1.7; }
    .services .row [class^="col-"] {
      border-right: 1px solid #7E7E7E;
      padding: 2% 4%;
      height: 210px; }
      @media (max-width: 500px) {
        .services .row [class^="col-"] {
          height: auto;
          border-top: 1px solid #7E7E7E; } }
      @media (max-width: 1100px) {
        .services .row [class^="col-"] {
          border-right: none; } }
      .services .row [class^="col-"]:first-child {
        border-left: 1px solid #7E7E7E; }
        @media (max-width: 1100px) {
          .services .row [class^="col-"]:first-child {
            border-left: none; } }
        @media (max-width: 500px) {
          .services .row [class^="col-"]:first-child {
            border-top: none; } }

/* --OUR PROJECTS-- */
.our_projects {
  padding-bottom: 4.5%; }
  .our_projects .small_nav {
    border: 1px solid #CFCFCF;
    background: #EDEDED;
    border-radius: 25px;
    padding: 2px 0;
    width: 700px;
    height: 55px;
    margin: 4.5% auto 4%; }
    @media (max-width: 1000px) {
      .our_projects .small_nav {
        width: 100%;
        height: auto; } }
    @media (max-width: 800px) {
      .our_projects .small_nav {
        width: 80%; } }
    @media (max-width: 250px) {
      .our_projects .small_nav {
        width: 90%; } }
    .our_projects .small_nav li {
      display: inline-block;
      padding: 8px 4px 8px 0;
      height: 50px;
      border-right: 1px solid #CFCFCF; }
      @media (max-width: 800px) {
        .our_projects .small_nav li {
          border-right: none; } }
      @media (max-width: 600px) {
        .our_projects .small_nav li {
          display: block; } }
      .our_projects .small_nav li:last-child {
        border-right: none; }
      .our_projects .small_nav li a {
        color: #000;
        display: inline-block;
        font-size: 14px;
        padding: 10px 16px; }
        .our_projects .small_nav li a:hover {
          border-bottom: 5px solid #B88B58; }
  .our_projects .gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2.5%; }
    .our_projects .gallery .gallery-element {
      position: relative;
      flex: 23%;
      margin: 1%;
      padding: 0;
      background: #000;
      cursor: pointer; }
      @media (max-width: 1100px) {
        .our_projects .gallery .gallery-element {
          flex: 31%; } }
      @media (max-width: 800px) {
        .our_projects .gallery .gallery-element {
          flex: 46%; } }
      @media (max-width: 500px) {
        .our_projects .gallery .gallery-element {
          flex: 98%; } }
      .our_projects .gallery .gallery-element:hover img {
        opacity: 0.4; }
      .our_projects .gallery .gallery-element:hover .gallery-hover {
        opacity: 1; }
      .our_projects .gallery .gallery-element img {
        width: 100%;
        object-fit: cover;
        vertical-align: middle;
        transition: .5s; }
      .our_projects .gallery .gallery-element .gallery-hover {
        width: 100%;
        color: #FFF;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .5s; }
        .our_projects .gallery .gallery-element .gallery-hover h3 {
          font-weight: 400;
          margin-bottom: 0; }
        .our_projects .gallery .gallery-element .gallery-hover p {
          font-size: 12px;
          line-height: 1.5;
          padding: 0 15%; }

/* --OUR TEAM-- */
.our_team {
  background: url("../images/ourTeam_background.jpg") center 0/cover;
  padding-bottom: 1.5%; }
  .our_team h4 {
    margin-bottom: 4%; }
  .our_team .pagination {
    margin-top: 4%; }
  .our_team .col-team {
    background: #FFF;
    width: 31.666%;
    margin-right: 2.5%;
    border-radius: 3px; }
    @media (max-width: 900px) {
      .our_team .col-team {
        width: 80%;
        margin: 2% 10%; } }
    .our_team .col-team:last-child {
      margin-right: 0; }
    .our_team .col-team img {
      border-radius: 50%;
      margin: 14% 0 10%; }
      @media (max-width: 400px) {
        .our_team .col-team img {
          width: 90%; } }
    .our_team .col-team h3 {
      font-weight: 400;
      color: #242424;
      margin: 0;
      font-size: 21px; }
    .our_team .col-team p {
      font-size: 14px;
      color: #242424;
      margin: 2%; }
    .our_team .col-team .div-icon {
      margin: 11%; }
      .our_team .col-team .div-icon a {
        display: inline-block;
        background: #BEBEBE;
        margin: 1px; }
        .our_team .col-team .div-icon a:hover {
          background: #B88B58; }

/* --HAPPY CLIENTS-- */
.happy_clients .client {
  border-radius: 50%;
  margin-top: 5%;
  margin-bottom: 1%; }
.happy_clients h3 {
  font-size: 24px;
  color: #000;
  text-transform: none;
  line-height: 0; }
.happy_clients h5 {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  line-height: 0; }
  @media (max-width: 300px) {
    .happy_clients h5 {
      line-height: 1.5; } }
.happy_clients i {
  color: #7E7E7E;
  font-size: 25px;
  padding-top: 10px; }
.happy_clients p {
  font-size: 14px;
  color: #7E7E7E;
  padding: 0 15%;
  line-height: 1.8; }
  @media (max-width: 600px) {
    .happy_clients p {
      padding: 0 5%; } }
.happy_clients .pagination {
  margin: 3.5%; }
.happy_clients .brands {
  text-align: center;
  background: #FFF;
  padding: 0 8%;
  border-top: 1px solid #CFCFCF;
  box-shadow: 0 5px 3px -2px #CFCFCF;
  margin-bottom: 4px; }
  @media (max-width: 1300px) {
    .happy_clients .brands {
      padding: 0; } }
  .happy_clients .brands img {
    padding: 3.5%; }
    @media (max-width: 1300px) {
      .happy_clients .brands img {
        padding: 2%; } }

/* --PRICE-- */
.price {
  background: #EDEDED;
  padding-bottom: 4.5%; }
  .price .row {
    margin-top: 4%; }
    .price .row .col-price {
      width: 22.75%;
      margin-right: 3%;
      background: #FFF;
      border-radius: 3px;
      padding: 3% 0; }
      @media (max-width: 900px) {
        .price .row .col-price {
          width: 48.5%;
          margin-bottom: 3%; }
          .price .row .col-price:nth-child(2) {
            margin-right: 0; } }
      @media (max-width: 500px) {
        .price .row .col-price {
          width: 90%;
          margin: 0 5% 5%; } }
      .price .row .col-price:hover {
        box-shadow: 0 5px 15px #373737; }
      .price .row .col-price:last-child {
        margin-right: 0; }
      .price .row .col-price h2, .price .row .col-price h4 {
        color: #242424;
        line-height: 0; }
      .price .row .col-price h2 {
        padding-top: 16px; }
      .price .row .col-price h6 {
        line-height: 0;
        padding-top: 2px; }
      .price .row .col-price p {
        font-weight: 700;
        color: #7E7E7E;
        font-size: 10px; }
      .price .row .col-price button {
        margin-top: 6%; }

/* --PRICE DESCRIPTION-- */
.price_description {
  background: #FFF;
  border-top: 1px solid #CFCFCF;
  border-bottom: 1px solid #CFCFCF; }
  .price_description .row {
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 2%; }
    .price_description .row img {
      width: 100%; }
      @media (max-width: 992px) {
        .price_description .row img {
          width: 80%; } }
    .price_description .row .col-left {
      padding-left: 3.5%;
      margin-top: 2.5%; }
      .price_description .row .col-left .big_list {
        list-style: url("../images/premium_check.png"); }
        @media (max-width: 346px) {
          .price_description .row .col-left .big_list {
            list-style: none;
            padding: 0;
            text-align: center; } }
        .price_description .row .col-left .big_list div {
          padding-left: 4%; }
          @media (max-width: 346px) {
            .price_description .row .col-left .big_list div {
              padding-left: 0; } }
          .price_description .row .col-left .big_list div h3 {
            margin: 0;
            line-height: 0;
            font-size: 21px;
            color: #242424;
            vertical-align: 12px;
            display: inline-block; }
            @media (max-width: 346px) {
              .price_description .row .col-left .big_list div h3 {
                line-height: 1.2; } }
          .price_description .row .col-left .big_list div p {
            font-size: 14px;
            color: #5B5B5B;
            margin: -9px 0 30px; }
          .price_description .row .col-left .big_list div .p_list {
            line-height: 1.8; }
            .price_description .row .col-left .big_list div .p_list span {
              text-transform: uppercase;
              display: inline-block;
              padding-top: 5px; }
  .price_description .pagination {
    margin: 3%; }
  .price_description button {
    margin-bottom: 5.5%; }

/* --SOME FACTS-- */
.some_facts {
  background: #000; }
  .some_facts .row {
    padding: 0.5% 0 1.5%; }
    .some_facts .row [class^="col-"] {
      padding: 4%; }
      @media (max-width: 1300px) {
        .some_facts .row [class^="col-"] {
          padding: 2%; } }
      @media (max-width: 992px) {
        .some_facts .row [class^="col-"] {
          padding: 2% 9%; } }
      @media (max-width: 620px) {
        .some_facts .row [class^="col-"] {
          width: 100%; } }
    .some_facts .row .number {
      font-size: 48px;
      color: #B88B58;
      margin: 0;
      line-height: 0.7; }
    .some_facts .row h3 {
      color: #FFF;
      line-height: 1.3; }
      @media (max-width: 1300px) {
        .some_facts .row h3 {
          font-size: 16px; } }
      .some_facts .row h3::before {
        content: "";
        width: 20px;
        height: 3px;
        background: #7E7E7E;
        display: block;
        margin: 6px auto; }
    .some_facts .row p {
      font-size: 12px;
      color: #7E7E7E;
      line-height: 1.8;
      margin-top: -10px; }
    .some_facts .row .p_margin {
      padding-top: 23px; }
      @media (max-width: 1300px) {
        .some_facts .row .p_margin {
          padding-top: 20px; } }
      @media (max-width: 620px) {
        .some_facts .row .p_margin {
          padding-top: 0; } }
  .some_facts .tell_about_us {
    background: #FEFEFE;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    text-align: center;
    padding: 0.5% 0; }
    @media (max-width: 320px) {
      .some_facts .tell_about_us {
        padding: 0.5% 0 5%; } }
    .some_facts .tell_about_us h4, .some_facts .tell_about_us h6 {
      display: inline-block; }
    .some_facts .tell_about_us h6 {
      padding-right: 6%;
      padding-left: 2px; }
      @media (max-width: 960px) {
        .some_facts .tell_about_us h6 {
          padding-right: 3%; } }
      @media (max-width: 320px) {
        .some_facts .tell_about_us h6 {
          display: none; } }
    .some_facts .tell_about_us img {
      vertical-align: middle;
      padding-right: 10px; }
    .some_facts .tell_about_us .icons {
      display: inline-block;
      width: 40%; }
      @media (max-width: 790px) {
        .some_facts .tell_about_us .icons {
          width: 100%; } }
      .some_facts .tell_about_us .icons .fa-twitter {
        background: #34C5F0; }
      .some_facts .tell_about_us .icons .fa-linkedin {
        background: #127CB4; }
      .some_facts .tell_about_us .icons .fa-facebook {
        background: #336297; }
      .some_facts .tell_about_us .icons .fa-google-plus {
        background: #E74237; }
      .some_facts .tell_about_us .icons .fa-pinterest-p {
        background: #B71C29; }

/* --CONTACT US--*/
.contact_us .contact_form {
  text-align: center;
  background: #F7F7F7;
  width: 40%;
  margin: 0 auto; }
  @media (max-width: 1000px) {
    .contact_us .contact_form {
      width: 80%; } }
  @media (max-width: 500px) {
    .contact_us .contact_form {
      width: 90%; } }
  .contact_us .contact_form form {
    padding: 10% 2% 6%; }
    @media (max-width: 500px) {
      .contact_us .contact_form form {
        padding-top: 2%; } }
    .contact_us .contact_form form .input_short {
      width: 47%;
      margin: 0 3.5% 5% 0; }
      @media (max-width: 500px) {
        .contact_us .contact_form form .input_short {
          width: 98%;
          margin: 1%; } }
    .contact_us .contact_form form .input_margin {
      margin-right: 0; }
    .contact_us .contact_form form .input_long {
      width: 98%;
      margin: 0 1% 5%; }
      @media (max-width: 500px) {
        .contact_us .contact_form form .input_long {
          margin: 1%; } }
    .contact_us .contact_form form textarea {
      width: 98%;
      margin: 10% 1% 0;
      padding: 0;
      resize: none; }
      .contact_us .contact_form form textarea::placeholder {
        font-size: 15px; }
    .contact_us .contact_form form button {
      display: block;
      margin: 8% auto; }
.contact_us .map {
  background: url("../images/map.png") center 0/cover;
  position: relative; }
  .contact_us .map .btn_icon {
    left: 5%;
    z-index: 2; }
  .contact_us .map .container {
    padding: 3% 0; }
    .contact_us .map .container .row {
      padding: 0 4%; }
      .contact_us .map .container .row .col-contact {
        background: #FFF;
        padding: 3.5% 0;
        border-radius: 3px; }
        @media (max-width: 1200px) {
          .contact_us .map .container .row .col-contact {
            text-align: center; } }
        @media (max-width: 500px) {
          .contact_us .map .container .row .col-contact {
            width: 70%; } }
        @media (max-width: 350px) {
          .contact_us .map .container .row .col-contact {
            width: 100%; } }
        .contact_us .map .container .row .col-contact p {
          font-size: 12px;
          color: #7E7E7E;
          padding: 0.5% 0; }
          @media (max-width: 1200px) {
            .contact_us .map .container .row .col-contact p {
              padding: 0.5% 2%; } }
        .contact_us .map .container .row .col-contact .fa_icon {
          background: #AEAEAE;
          text-align: center;
          font-size: 18px;
          margin: 0 3.5% 0 7%; }
          @media (max-width: 1200px) {
            .contact_us .map .container .row .col-contact .fa_icon {
              display: none; } }

/* --FOOTER-- */
footer {
  background: #000;
  border-top: 1px solid #CFCFCF; }
  @media (max-width: 1100px) {
    footer {
      position: relative;
      padding-bottom: 2%; } }
  @media (max-width: 700px) {
    footer {
      padding-bottom: 5%; } }
  @media (max-width: 400px) {
    footer {
      padding-bottom: 10%; } }
  footer .con-rel {
    position: relative; }
    @media (max-width: 1100px) {
      footer .con-rel {
        position: static; } }
  footer .row {
    padding: 3% 0; }
    footer .row .fa_icon {
      display: inline-block;
      background: #373737; }
      @media (max-width: 800px) {
        footer .row .fa_icon {
          margin-bottom: 2%; } }
      footer .row .fa_icon:hover {
        background: #B88B58; }
    footer .row .awax {
      font-weight: 400;
      color: #FFF;
      font-size: 14px;
      position: absolute;
      bottom: 15%;
      left: 6%; }
      @media (max-width: 1100px) {
        footer .row .awax {
          bottom: 1%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%); } }
      @media (max-width: 250px) {
        footer .row .awax {
          font-size: 10px; } }
    footer .row p {
      color: #7E7E7E;
      font-size: 12px;
      margin: 0;
      padding-right: 1%;
      line-height: 1.7; }
    footer .row form {
      background: #373737;
      text-align: center;
      width: 90%;
      padding: 2% 0 12%;
      margin: 0 auto;
      border-radius: 3px; }
      @media (max-width: 1100px) {
        footer .row form {
          width: 50%;
          padding: 2% 0;
          margin: 3% auto; } }
      @media (max-width: 800px) {
        footer .row form {
          width: 70%; } }
      @media (max-width: 500px) {
        footer .row form {
          width: 90%;
          background: #000; } }
      footer .row form input, footer .row .contact_us .contact_form form textarea, .contact_us .contact_form footer .row form textarea {
        display: block;
        margin: 8% auto;
        border-bottom: 2px solid #AEAEAE;
        text-align: center;
        color: #FFF; }
        @media (max-width: 1100px) {
          footer .row form input, footer .row .contact_us .contact_form form textarea, .contact_us .contact_form footer .row form textarea {
            margin: 0 auto 4%;
            padding: 12px 10%; } }
        @media (max-width: 320px) {
          footer .row form input, footer .row .contact_us .contact_form form textarea, .contact_us .contact_form footer .row form textarea {
            padding: 12px 4%; } }
        @media (max-width: 250px) {
          footer .row form input, footer .row .contact_us .contact_form form textarea, .contact_us .contact_form footer .row form textarea {
            padding: 12px 0; } }
        footer .row form input::placeholder, footer .row .contact_us .contact_form form textarea::placeholder, .contact_us .contact_form footer .row form textarea::placeholder {
          color: #9E9E9E;
          font-weight: 300; }
        footer .row form input:focus, footer .row .contact_us .contact_form form textarea:focus, .contact_us .contact_form footer .row form textarea:focus {
          border-bottom: 2px solid #FFF; }

/*# sourceMappingURL=style.css.map */
