/* --GENERAL-- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

$white: #FFF;
$black: #000;
$brown: #B88B58;
$white_background: #F7F7F7;
$light_grey: #AEAEAE;
$dark_grey: #242424;
$grey: #7E7E7E;
$grey_background: #EDEDED;
$grey_border: #CFCFCF;
$grey_icon: #BEBEBE;
$grey_btn: #373737;
$grey_form: #9E9E9E;

* {
	box-sizing: border-box;
}

body {
	background: $white;
	max-width: 1600px;
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	padding: 0;
}

.container {
	margin: 0 auto;
	width: 80%;
}

[class^="col-"] {
	float: left;
	min-height: 1px;
}

/* --GRID-- */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* --CLEARFIX-- */
.row::before,
.row::after {
	content: "";
	display: table;
	clear: both;
}

/* --NAV-- */
nav {
	background: $black;
	img {
		margin: 0;
		padding: 20px 0;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 85%;
		display: inline-block;
		float: right;
		li {
			display: inline-block;
			float: left;
			padding: 35px 1%;
			&:hover {
				border-bottom: 5px solid $brown;
			}
			a {
				color: $white;
				text-decoration: none;
				font-size: 14px;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
	}
}

