/* --GENERAL-- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

$white: #FFF;
$black: #000;
$brown: #B88B58;
$white_background: #F7F7F7;
$light_grey: #AEAEAE;
$dark_grey: #242424;
$grey: #7E7E7E;
$grey_background: #EDEDED;
$grey_border: #CFCFCF;
$grey_icon: #BEBEBE;
$grey_btn: #373737;
$grey_form: #9E9E9E;

* {
	box-sizing: border-box;
}

body {
	background: $white_background;
	max-width: 1600px;
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	padding: 0;
}

h2, h3, h4 {
	text-transform: uppercase;
}

h2 {
	font-size: 30px;
	margin-bottom: 0;
}

.h2_black {
	color: $black;
}

.h2_white {
	color: $white;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 14px;
	color: $light_grey;
	margin-top: 6px;
}

p {
	font-weight: 300;
}

a {
	text-decoration: none;
	text-transform: uppercase;
}

ul {
	list-style: none;
}

section {
	padding: 2.5% 0 0;
}

.container {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

[class^="button_"] {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	padding: 14px 45px;
	border: none;
	cursor: pointer;
	border-radius: 17px;
	outline: 0;
}

.button_brown {
	background: $brown;
	color: $white;
	&:hover {
		background: $black;
	}
}

.pagination {
	margin: 0 auto 1.5%;
	span {
		display: inline-block;
		width: 14px;
		height: 14px;
		border: 2px solid $brown;
		border-radius: 50%;
		margin: 4px;
		cursor: pointer;
		&:hover {
			background: $brown;
		}
	}
}

[class^="col-"] {
	float: left;
	min-height: 1px;
}

.col-left {
		text-align: left;
}

/* --GRID-- */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* --CLEARFIX-- */
.row::before,
.row::after {
	content: "";
	display: table;
	clear: both;
}

/* --NAV-- */
nav {
	background: $black;
	img {
		margin: 0;
		padding: 20px 0;
	}
	ul {
		width: 85%;
		display: inline-block;
		float: right;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			float: left;
			padding: 35px 1%;
			&:hover {
				border-bottom: 5px solid $brown;
			}
			a {
				color: $white;
				font-size: 13px;
				font-weight: 700;
			}
		}
	}
}

/* --HEADER-- */
header {
	text-transform: uppercase;
	background: url("../images/header_background.jpg") center 0/cover;
	text-align: center;
	padding: 1%;
	position: relative;
	h1 {
		padding: 13% 0 0;
		margin: 0;
		font-size: 72px;
		letter-spacing: -1px;
		color: $white;
		span {
			color: $brown;
		}
	}
	p {
		font-size: 24px;
		font-weight: 700;
		color: $white;
		padding: 0.5% 0 2%;
		margin: 0;
	}
	.button_brown {
		margin: 1% 0 10%;
	}
	.btn_icon {
		position: absolute;
		bottom: -30px;
		right: 5%;
		cursor: pointer;
		width: 60px;
		height: 60px;
		outline: 0;
		border: none;
		border-radius: 50%;
		background: $brown;
		color: $white;
		font-size: 40px;
		box-shadow: 0 0 10px $dark_grey;
	}
}

/* --ABOUT US-- */
.about_us {
	padding-bottom: 6.5%;
	.row {
		margin-top: 3.5%;
		.col-left {
			padding-right: 4%;
			p {
				color: $dark_grey;
				font-size: 13px;
				margin: 0;
				padding-bottom: 5%;
				line-height: 1.7;
			}
		}
		img {
			box-shadow: 0 15px 30px $light_grey;
			width: 100%;
		}
	}
}

/* --SERVICES-- */
.services {
	background: $black;
	padding-bottom: 3%;
	.row {
		margin-top: 4%;
		i {
			color: $brown;
			font-size: 65px;
			padding-bottom: 10px;
		}
		h3 {
			color: $white;
			margin-bottom: 0;
			line-height: 1.4;
		}
		p {
			color: $grey;
			font-size: 12px;
			margin-top: 0;
			line-height: 1.7;
		}
		[class^="col-"] {
			border-right: 1px solid $grey;
			padding: 2% 4%;
			height: 210px;
			&:first-child {
				border-left: 1px solid $grey;
			}
		}
	}
}

/* --OUR PROJECTS-- */
.our_projects {
	padding-bottom: 4.5%;
	.small_nav {
		border: 1px solid $grey_border;
		background: $grey_background;
		border-radius: 25px;
		padding: 2px 0;
		width: 700px;
		height: 55px;
		margin: 4.5% auto 4%;
		li {
			display: inline-block;
			padding: 8px 4px 8px 0;
			height: 50px;
			border-right: 1px solid $grey_border;
			&:last-child {
				border-right: none;
			}
			a {
				color: $black;
				display: inline-block;
				font-size: 14px;
				padding: 10px 16px;
				&:hover {
					border-bottom: 5px solid $brown;
				}
			}
		}
	}
	.gallery {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 2.5%;
		.gallery-element {
			position: relative;
			flex: 23%;
			margin: 1%;
			padding: 0;
			background: $black;
			cursor: pointer;
			&:hover img {
				opacity: 0.4;
			}
			&:hover .gallery-hover {
				opacity: 1;
			}
			img {
				width: 100%;
				object-fit: cover;
				vertical-align: middle;
			} 
			.gallery-hover {
				width: 100%;
				color: $white;
				opacity: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				h3 {
					font-weight: 400;
					margin-bottom: 0;
				}
				p {
					font-size: 12px;
					line-height: 1.5;
					padding: 0 15%;
				}
			}
		}
	}
}