/* --GENERAL-- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

$white: #FFF;
$black: #000;
$brown: #B88B58;
$white_background: #F7F7F7;
$light_grey: #AEAEAE;
$dark_grey: #242424;
$grey: #7E7E7E;
$grey_background: #EDEDED;
$grey_border: #CFCFCF;
$grey_icon: #BEBEBE;
$grey_btn: #373737;
$grey_form: #9E9E9E;

* {
	box-sizing: border-box;
}

body {
	background: $white_background;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

nav, header, section, footer {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}

h2, h3, h4, h6 {
	text-transform: uppercase;
}

h2 {
	font-size: 30px;
	margin-top: 2%;
	margin-bottom: 0;
}

.h2_black {
	color: $black;
}

.h2_white {
	color: $white;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 14px;
	color: $light_grey;
	margin-top: 6px;
}

h6{
	font-size: 10px;
	color: $light_grey;
}

p {
	font-weight: 300;
}

a {
	text-decoration: none;
	text-transform: uppercase;
}

ul {
	list-style: none;
}

section {
	padding: 2.5% 0 0;
}

.container {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

[class^="button_"] {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	padding: 14px 45px;
	border: none;
	cursor: pointer;
	border-radius: 17px;
	outline: 0;
	transition: .2s;
}

.button_brown {
	background: $brown;
	color: $white;
	&:hover {
		background: $black;
	}
}

.button_grey {
	background: $grey_btn;
	color: $white;
	&:hover {
		background: $brown;
	}
}

.btn_icon {
	position: absolute;
	bottom: -30px;
	cursor: pointer;
	width: 60px;
	height: 60px;
	outline: 0;
	border: none;
	border-radius: 50%;
	background: $brown;
	color: $white;
	font-size: 40px;
	box-shadow: 0 0 10px $dark_grey;
}

.fa_icon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	line-height: 30px;
	font-size: 15px;
	color: $white;
	transition: .5s;
}

.pagination {
	margin: 0 auto 1.5%;
	span {
		display: inline-block;
		width: 14px;
		height: 14px;
		border: 2px solid $brown;
		border-radius: 50%;
		margin: 4px;
		cursor: pointer;
		transition: .2s;
		&:hover {
			background: $brown;
		}
	}
}

[class^="col-"] {
	float: left;
	min-height: 1px;
}

.col-left {
	text-align: left;
}

@media (max-width: 992px) {
	.col-center {
		text-align: center;
	}
}
/* --GRID-- */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media (max-width: 1100px) {
	.col-l-6 {width: 50%;}
	.col-l-12 {width: 100%;}
}
@media (max-width: 992px) {
	.col-m-6 {width: 50%;}
	.col-m-12 {width: 100%;}
}
@media (max-width: 800px) {
	.col-s-12 {width: 100%;}
}
@media (max-width: 500px) {
	.col-xs-12 {width: 100%;}
}
/* --CLEARFIX-- */
.row::before,
.row::after {
	content: "";
	display: table;
	clear: both;
}

/* --NAV-- */
nav {
	background: $black;
	position: relative;
	img {
		margin: 0;
		padding: 20px 0;
	}
	// nav-hamburger
	input, label {
		display: none;
	}
	@media (max-width: 1299px) {
		label {
			position: fixed;
			display: block;
			top: 20px;
			right: 20px;
			height: 50px;
			width: 50px;
			background: $grey_btn;
			border-radius: 50%;
			box-shadow: 0 0 10px $brown;
			z-index: 3;
			span {
				position: absolute;
				width: 60%;
				height: 2px;
				top: 50%;
				left: 20%;
				background: $white;
				display: block;
				transition: .5s;
			}
			span:first-child {
				top: 15px;
			}
			span:last-child {
				top: 35px;
			}
		}
		label:hover {
			cursor: pointer;
		}
		input:checked + label {
			span {
				opacity: 0;
				top: 50%;
			}
			span:first-child {
				opacity: 1;
				transform: rotate(45deg);
			}
			span:last-child {
				opacity: 1;
				transform: rotate(-45deg);
			}
		}
	}
	input ~ ul {
		width: 85%;
		display: inline-block;
		float: right;
		margin: 0;
		padding: 0;
		@media (max-width: 1299px) {
			display: none;
			transition: 2s;
			background: $black;
			opacity: 0.7;
			position: fixed;
			top: 0;
			left: 0;
			width: 200px;
			z-index: 2;
		}
		@media (max-width: 270px) {
			width: 150px;
		}
		li {
			display: inline-block;
			float: left;
			padding: 35px 1%;
			@media (max-width: 1299px) {
				display: none;
				float: none;
				padding: 15px;
			}
			&:hover {
				border-bottom: 5px solid $brown;
				@media (max-width: 1299px) {
					border-bottom: none;
					background: $grey_btn;
				}
			}
			a {
				color: $white;
				font-size: 13px;
				font-weight: 700;
			}
		}
	}
	input:checked ~ ul {
		display: block;
		li {
			display: block;
		}
	}
}

/* --HEADER-- */
header {
	text-transform: uppercase;
	background: url("../images/header_background.jpg") center 0/cover;
	text-align: center;
	padding: 1%;
	position: relative;
	h1 {
		padding: 13% 0 0;
		margin: 0;
		font-size: 72px;
		letter-spacing: -1px;
		color: $white;
		@media (max-width: 992px) {
			font-size: 60px;
		}
		@media (max-width: 800px) {
			font-size: 42px;
		}
		@media (max-width: 500px) {
			font-size: 30px;
		}
		@media (max-width: 320px) {
			font-size: 20px;
		}
		span {
			color: $brown;
		}
	}
	p {
		font-size: 24px;
		font-weight: 700;
		color: $white;
		padding: 0.5% 0 2%;
		margin: 0;
		@media (max-width: 320px) {
			font-size: 14px;
		}
	}
	.button_brown {
		margin: 1% 0 10%;
	}
	.btn_icon {
		right: 10%;
		@media (max-width: 992px) {
			left: 5%;
		}
	}
}

/* --ABOUT US-- */
.about_us {
	padding-bottom: 6.5%;
	.row {
		margin-top: 3.5%;
		.col-left {
			padding-right: 4%;
			p {
				color: $dark_grey;
				font-size: 13px;
				margin: 0;
				padding-bottom: 5%;
				line-height: 1.7;
			}
		}
		.button_brown {
			@media (max-width: 992px) {
				margin-bottom: 5%;
			}
		}
		img {
			box-shadow: 0 15px 30px $light_grey;
			width: 100%;
		}
	}
}

/* --SERVICES-- */
.services {
	background: $black;
	padding-bottom: 3%;
	.row {
		margin-top: 4%;
		i {
			color: $brown;
			font-size: 65px;
			padding-bottom: 10px;
			@media (max-width: 500px) {
				margin-top: 0;
			}
		}
		h3 {
			color: $white;
			margin-bottom: 0;
			line-height: 1.4;
		}
		p {
			color: $grey;
			font-size: 12px;
			margin-top: 0;
			line-height: 1.7;
		}
		[class^="col-"] {
			border-right: 1px solid $grey;
			padding: 2% 4%;
			height: 210px;
			@media (max-width: 500px) {
				height: auto;
				border-top: 1px solid $grey;
			}
			@media (max-width: 1100px) {
				border-right: none;
			}
			&:first-child {
				border-left: 1px solid $grey;
				@media (max-width: 1100px) {
					border-left: none;
				}
				@media (max-width: 500px) {
					border-top: none;
				}
			}
		}
	}
}

/* --OUR PROJECTS-- */
.our_projects {
	padding-bottom: 4.5%;
	.small_nav {
		border: 1px solid $grey_border;
		background: $grey_background;
		border-radius: 25px;
		padding: 2px 0;
		width: 700px;
		height: 55px;
		margin: 4.5% auto 4%;
		@media (max-width: 1000px) {
			width: 100%;
			height: auto;
		}
		@media (max-width: 800px) {
			width: 80%;
		}
		@media (max-width: 250px) {
			width: 90%;
		}
		li {
			display: inline-block;
			padding: 8px 4px 8px 0;
			height: 50px;
			border-right: 1px solid $grey_border;
			@media (max-width: 800px) {
				border-right: none;
			}
			@media (max-width: 600px) {
				display: block;
			}
			&:last-child {
				border-right: none;
			}
			a {
				color: $black;
				display: inline-block;
				font-size: 14px;
				padding: 10px 16px;
				&:hover {
					border-bottom: 5px solid $brown;
				}
			}
		}
	}
	.gallery {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 2.5%;
		.gallery-element {
			position: relative;
			flex: 23%;
			margin: 1%;
			padding: 0;
			background: $black;
			cursor: pointer;
			@media (max-width: 1100px) {
				flex: 31%;
			}
			@media (max-width: 800px) {
				flex: 46%;
			}
			@media (max-width: 500px) {
				flex: 98%;
			}
			&:hover img {
				opacity: 0.4;
			}
			&:hover .gallery-hover {
				opacity: 1;
			}
			img {
				width: 100%;
				object-fit: cover;
				vertical-align: middle;
				transition: .5s;
			} 
			.gallery-hover {
				width: 100%;
				color: $white;
				opacity: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: .5s;
				h3 {
					font-weight: 400;
					margin-bottom: 0;
				}
				p {
					font-size: 12px;
					line-height: 1.5;
					padding: 0 15%;
				}
			}
		}
	}
}

/* --OUR TEAM-- */
.our_team {
	background: url("../images/ourTeam_background.jpg") center 0/cover;
	padding-bottom: 1.5%;
	h4 {
		margin-bottom: 4%;
	}
	.pagination {
		margin-top: 4%;
	}
	.col-team {
		background: $white;
		width: 31.666%;
		margin-right: 2.5%;
		border-radius: 3px;
		@media (max-width: 900px) {
			width: 80%;
			margin: 2% 10%;
		}
		&:last-child {
			margin-right: 0;
		}
		img {
			border-radius: 50%;
			margin: 14% 0 10%;
			@media (max-width: 400px) {
				width: 90%;
			}
		}
		h3 {
			font-weight: 400;
			color: $dark_grey;
			margin: 0;
			font-size: 21px;
		}
		p {
			font-size: 14px;
			color: $dark_grey;
			margin: 2%;
		}
		.div-icon {
			margin: 11%;
			a {
				display: inline-block;
				background: $grey_icon;
				margin: 1px;
				&:hover {
					background: $brown;
				}
			}
		}
	}
}

/* --HAPPY CLIENTS-- */
.happy_clients {
	.client {
		border-radius: 50%;
		margin-top: 5%;
		margin-bottom: 1%;
	}
	h3 {
		font-size: 24px;
		color: $black;
		text-transform: none;
		line-height: 0;
	}
	h5 {
		font-size: 18px;
		color: $black;
		font-weight: 400;
		line-height: 0;
		@media (max-width: 300px) {
			line-height: 1.5;
		}
	}
	i {
		color: $grey;
		font-size: 25px;
		padding-top: 10px;
	}
	p {
		font-size: 14px;
		color: $grey;
		padding: 0 15%;
		line-height: 1.8;
		@media (max-width: 600px) {
			padding: 0 5%;
		}
	}
	.pagination {
		margin: 3.5%;
	}
	.brands {
		text-align: center;
		background: $white;
		padding: 0 8%;
		border-top: 1px solid $grey_border;
		box-shadow: 0 5px 3px -2px $grey_border;
		margin-bottom: 4px;
		@media (max-width: 1300px) {
			padding: 0;
		}
		img {
			padding: 3.5%;
			@media (max-width: 1300px) {
				padding: 2%;
			}
		}
	}
}

/* --PRICE-- */
.price {
	background: $grey_background;
	padding-bottom: 4.5%;
	.row {
		margin-top: 4%;
		.col-price {
			width: 22.75%;
			margin-right: 3%;
			background: $white;
			border-radius: 3px;
			padding: 3% 0;
			@media (max-width: 900px) {
				width: 48.5%;
				margin-bottom: 3%;
				&:nth-child(2) {
					margin-right: 0;
				}
			}
			@media (max-width: 500px) {
				width: 90%;
				margin: 0 5% 5%;
			}
			&:hover {
				box-shadow: 0 5px 15px $grey_btn;
			}
			&:last-child {
				margin-right: 0;
			}
			h2,h4 {
				color: $dark_grey;
				line-height: 0;
			}
			h2 {
				padding-top: 16px;
			}
			h6 {
				line-height: 0;
				padding-top: 2px;
			}
			p {
				font-weight: 700;
				color: $grey;
				font-size: 10px;
			}
			button {
				margin-top: 6%;
			}
		}
	}
}

/* --PRICE DESCRIPTION-- */
.price_description {
	background: $white;
	border-top: 1px solid $grey_border;
	border-bottom: 1px solid $grey_border;
	.row {
		border-bottom: 1px solid #D8D8D8;
		padding-bottom: 2%;
		img {
			width: 100%;
			@media (max-width: 992px) {
				width: 80%;
			}
		}
		.col-left {
			padding-left: 3.5%;
			margin-top: 2.5%;
			.big_list {
				list-style: url("../images/premium_check.png");
				@media (max-width: 346px) {
					list-style: none;
					padding: 0;
					text-align: center;
				}
				div {
					padding-left: 4%;
					@media (max-width: 346px) {
						padding-left: 0;
					}
					h3 {
						margin: 0;
						line-height: 0;
						font-size: 21px;
						color: $dark_grey;
						vertical-align: 12px;
						display: inline-block;
						@media (max-width: 346px) {
							line-height: 1.2;
						}
					}
					p {
						font-size: 14px;
						color: #5B5B5B;
						margin: -9px 0 30px;
					}
					.p_list {
						line-height: 1.8;
						span {
							text-transform: uppercase;
							display: inline-block;
							padding-top: 5px;
						}
					}
				}
			}
		}
	}
	.pagination {
		margin: 3%;
	}
	button {
		margin-bottom: 5.5%;
	}
}

/* --SOME FACTS-- */
.some_facts {
	background: $black;
	.row {
		padding: 0.5% 0 1.5%;
		[class^="col-"] {
			padding: 4%;
			@media (max-width: 1300px) {
				padding: 2%;
			}
			@media (max-width: 992px) {
				padding: 2% 9%;
			}
			@media (max-width: 620px) {
				width: 100%;
			}
		}
		.number {
			font-size: 48px;
			color: $brown;
			margin: 0;
			line-height: 0.7;
		}
		h3 {
			color: $white;
			line-height: 1.3;
			@media (max-width: 1300px) {
				font-size: 16px;
			}
			&::before {
				content: "";
				width: 20px;
				height: 3px;
				background: $grey;
				display: block;
				margin: 6px auto;
			}
		}
		p {
			font-size: 12px;
			color: $grey;
			line-height: 1.8;
			margin-top: -10px;
		}
		.p_margin {
			padding-top: 23px;
			@media (max-width: 1300px) {
				padding-top: 20px;
			}
			@media (max-width: 620px) {
				padding-top: 0;
			}
		}
	}
	.tell_about_us {
		background: #FEFEFE;
		border-top: 1px solid $grey_border;
		border-bottom: 1px solid $grey_border;
		text-align: center;
		padding: 0.5% 0;
		@media (max-width: 320px) {
			padding: 0.5% 0 5%;
		}
		h4, h6 {
			display: inline-block;
		}
		h6 {
			padding-right: 6%;
			padding-left: 2px;
			@media (max-width: 960px) {
				padding-right: 3%
			}
			@media (max-width: 320px) {
				display: none;
			}
		}
		img {
			vertical-align: middle;
			padding-right: 10px;
		}
		.icons {
			display: inline-block;
			width: 40%;
			@media (max-width: 790px) {
				width: 100%;
			}
			.fa-twitter {
				background: #34C5F0;
			}
			.fa-linkedin {
				background: #127CB4;
			}
			.fa-facebook {
				background: #336297;
			}
			.fa-google-plus {
				background: #E74237;
			}
			.fa-pinterest-p {
				background: #B71C29;
			}
		}
	}
}

/* --CONTACT US--*/
.contact_us {
	.contact_form {
		text-align: center;
		background: $white_background;
		width: 40%;
		margin: 0 auto;
		@media (max-width: 1000px) {
			width: 80%
		}
		@media (max-width: 500px) {
			width: 90%
		}
		form {
			padding: 10% 2% 6%;
			@media (max-width: 500px) {
				padding-top: 2%;
			}
			input {
				border: none;
				border-bottom: 2px solid $grey_form;
				background: inherit;
				padding: 12px 0;
				&::placeholder {
					font-size: 13px;
				}
				&:focus {
					border: none;
					border-bottom: 2px solid $black;
					outline: 0;
				}
			}
			.input_short {
				width: 47%;
				margin: 0 3.5% 5% 0;
				@media (max-width: 500px) {
					width: 98%;
					margin: 1%;
				}
			}
			.input_margin {
				margin-right: 0;
			}
			.input_long {
				width: 98%;
				margin: 0 1% 5%;
				@media (max-width: 500px) {
					margin: 1%;
				}
			}
			textarea {
				@extend input;
				width: 98%;
				margin: 10% 1% 0;
				padding: 0;
				resize: none;
				&::placeholder {
					font-size: 15px;
				}
			}
			button {
				display: block;
				margin: 8% auto;
			}
		}
	}
	.map {
		background: url("../images/map.png") center 0/cover;
		position: relative;
		.btn_icon {
			left: 5%;
			z-index: 1;
		}
		.container {
			padding: 3% 0;
			.row {
				padding: 0 4%;
				.col-contact {
					background: $white;
					padding: 3.5% 0;
					border-radius: 3px;
					@media (max-width: 1200px) {
						text-align: center;
					}
					@media (max-width: 500px) {
						width: 70%;
					}
					@media (max-width: 350px) {
						width: 100%;
					}
					p {
						font-size: 12px;
						color: $grey;
						padding: 0.5% 0;
						@media (max-width: 1200px) {
							padding: 0.5% 2%;
						}
					}
					.fa_icon {
						background: $light_grey;
						text-align: center;
						font-size: 18px;
						margin: 0 3.5% 0 7%;
						@media (max-width: 1200px) {
							display: none;
						}
					}
				}
			}
		}
	}
}

/* --FOOTER-- */
footer {
	background: $black;
	border-top: 1px solid $grey_border;
	@media (max-width: 1100px) {
		position: relative;
		padding-bottom: 2%;
	}
	@media (max-width: 700px) {
		padding-bottom: 5%;
	}
	@media (max-width: 400px) {
		padding-bottom: 10%;
	}
	.con-rel {
		position: relative;
		@media (max-width: 1100px) {
			position: static;
		}
	}
	.row {
		padding: 3% 0;
		.fa_icon {
			display: inline-block;
			background: $grey_btn;
			@media (max-width: 800px) {
				margin-bottom: 2%;
			}
			&:hover {
				background: $brown;
			}
		}
		.awax {
			font-weight: 400;
			color: $white;
			font-size: 14px;
			position: absolute;
			bottom: 15%;
			left: 6%;
			@media (max-width: 1100px) {
				bottom: 1%;
				right: 50%;
				transform: translate(50%, 0);
			}
			@media (max-width: 250px) {
				font-size: 10px;
			}
		}
		p {
			color: $grey;
			font-size: 12px;
			margin: 0;
			padding-right: 1%;
			line-height: 1.7;
		}
		form {
			background: $grey_btn;
			text-align: center;
			width: 90%;
			padding: 2% 0 12%;
			margin: 0 auto;
			border-radius: 3px;
			@media (max-width: 1100px) {
				width: 50%;
				padding: 2% 0;
				margin: 3% auto;
			}
			@media (max-width: 800px) {
				width: 70%;
			}
			@media (max-width: 500px) {
				width: 90%;
				background: $black;
			}
			input {
				display: block;
				margin: 8% auto;
				border: none;
				border-bottom: 2px solid $light_grey;
				background: inherit;
				padding: 12px 0;
				text-align: center;
				color: $white;
				@media (max-width: 1100px) {
					margin: 0 auto 4%;
					padding: 12px 10%;
				}
				@media (max-width: 320px) {
					padding: 12px 4%;
				}
				@media (max-width: 250px) {
					padding: 12px 0;
				}
				&::placeholder {
					color: $grey_form;
					font-size: 13px;
					font-weight: 300;
				}
				&:focus {
					border: none;
					border-bottom: 2px solid $white;
					outline: 0;
				}
			}
		}
	}
}